.welcome {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, #00092d, #250d7c,purple,skyblue);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  z-index: 1000;
}
